@use '@styles/typography';

.section {
  flex-grow: 1;
  padding: 64px 0;
}

.title {
  @include typography.text-lg;
  margin: 0 0 16px;
}

.lead {
  margin: 0 0 24px;
  color: var(--color-text-tertiary);
}