@use '../../../../styles/mixins';

.root {
  z-index: 100;
  transition: all 0.5s ease;
  position: fixed;
  inset: 24px auto auto 24px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;

  @include mixins.tablet {
    display: flex;
  }

  .line {
    transition: all 0.3s ease;
    transform-origin: center;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    background-color: var(--text);
  }

  &.open {
    .line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}