@use 'typography';

html,
body {
  @include typography.text-sm;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

body {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}