@use '../../../../styles/mixins';

.overlay {
  z-index: 98;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  z-index: 99;
  transition: transform 0.3s ease;
  position: fixed;
  inset: 0 auto 0 0;
  transform: translateX(-100%);
  display: none;
  min-width: 320px;
  padding: 80px 24px 24px;
  background-color: var(--color-bg-primary);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
  }

  &.open {
    transform: translateX(0);
  }
}