@use 'animations';
@use 'typography';

@mixin container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 24px;
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin link {
  color: var(--color-text-primary);

  &:hover {
    animation: pulse 0.5s ease-in-out;
    color: var(--color-text-secondary);
  }
}

@mixin main_button {
  @include typography.semibold;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.2s ease;
  color: var(--color-text-inverse);
  background-color: var(--color-cta-primary);

  &:hover {
    background-color: var(--color-cta-hover);
  }
}

@mixin secondary_button {
  @include typography.semibold;
  border-radius: 8px;
  padding: 8px 12px;
  color: var(--color-text-primary);
  background-color: var(--color-surface-secondary);

  &:hover {
    filter: brightness(1.05);
  }
}