@use '@styles/typography';
@use '@styles/animations';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  transition: all 0.2s ease;

  span {
    @include typography.text-sm;
    position: relative;
    color: var(--color-text-secondary);

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      transition: width 0.3s ease;
      background-color: currentColor;
      content: "";
    }
  }

  &:hover {
    img {
      animation: pulse 0.5s ease-in-out;
    }

    span {
      &::after {
        width: 100%;
      }
    }
  }
}