@use '@styles/typography';
@use '@styles/mixins';
@use '@styles/animations';

.root {
  position: fixed;
  inset: auto 16px 16px auto;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
  animation: fadeInUp 0.4s ease forwards;
  background-color: var(--color-surface-secondary);

  @include mixins.mobile {
    inset: auto 8px 8px;
    max-width: 100%;
  }

  &_hidden {
    animation: fadeOutDown 0.4s ease forwards;
  }

  .title {
    @include typography.text-md;
    margin-bottom: 8px;
    color: var(--color-text-primary);
  }

  .description {
    @include typography.text-sm;
    margin-bottom: 8px;
    color: var(--color-text-primary);
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .button {
    @include mixins.main_button;
    min-width: 120px;
  }

  .rejectButton {
    @include mixins.secondary_button;
    border: 1px solid var(--color-border-primary);
    min-width: 120px;
  }
}