@use '@/styles/typography';
@use '@/styles/mixins';
@use '@/styles/animations';

.root {
  animation: fadeInDown 0.5s ease forwards;
  position: fixed;
  inset: auto 16px 16px auto;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
  background-color: var(--color-surface-secondary);

  &_hidden {
    animation: lightSpeedOutRight 0.5s forwards;
  }

  @include mixins.mobile {
    inset: auto 8px 8px;
    max-width: 100%;
  }

  .title {
    @include typography.text-md;
    margin-bottom: 8px;
    color: var(--color-text-primary);
  }

  .description {
    @include typography.text-sm;
    margin-bottom: 8px;
    color: var(--color-text-primary);
  }

  .button {
    @include mixins.main_button;
    min-width: 120px;
  }
}