@use '@/styles/typography';

.root {
  border-top: 1px solid var(--secondary);
  padding: 24px;
  background: var(--card);

  .content {
    display: flex;
  }

  .copyright {
    @include typography.text-sm;
    margin-top: 12px;
    color: var(--muted);
  }
}

