@use '@styles/mixins';

.root {
  margin-top: auto;
  border-top: 1px solid var(--color-border-secondary);
  background: var(--color-surface-primary);
}

.container {
  @include mixins.container;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @include mixins.mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.copyright {
  color: var(--color-text-tertiary);
}
