.root {
  z-index: 20;
  position: fixed;
  inset: 0 0 auto;
  backdrop-filter: blur(10px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  gap: 16px;

  @media (max-width: 1024px) {
    justify-content: flex-start;
  }
}