@use '../../styles/mixins';

.root {
  z-index: 20;
  position: fixed;
  inset: 0 0 auto;
  backdrop-filter: blur(10px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 64px;
  padding: 0 24px;
}