@use '../../../../styles/mixins';

.root {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-weight: 600;

  span {
    color: var(--muted);
    font-weight: 400;
    font-size: 14px;
  }

  @include mixins.tablet {
    margin: 0 auto;
  }
}