@use '../../../../styles/mixins';
@use '../../../../styles/typography';

.root {
  display: flex;
  align-items: baseline;
  gap: 8px;
  @include typography.semibold;

  span {
    color: var(--color-text-tertiary);
    @include typography.text-xs;
    @include typography.regular;
  }

  @include mixins.tablet {
    margin: 0 auto;
  }
}