@use '../../../../styles/mixins';
@use '../../../../styles/typography';

.root {
  @include typography.semibold;
  display: flex;
  align-items: baseline;
  gap: 8px;

  @include mixins.tablet {
    margin: 0 auto;
  }

  span {
    @include typography.text-xs;
    @include typography.regular;
    color: var(--color-text-tertiary);
  }
}