@use '@styles/typography';

.main {
  animation: fadeIn 0.5s ease;
}

.placeholder {
  text-align: center;
  padding: 48px 0;
  color: var(--color-text-secondary);
  @include typography.text-sm;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
