@use '../../../../styles/mixins';
@use '../../../../styles/typography';

.root {
  display: flex;
  align-items: center;
  row-gap: 24px;
  column-gap: 16px;

  @include mixins.tablet {
    display: none;
  }

  &.mobile {
    @include mixins.tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }
  }

  .link {
    @include mixins.link;

    @include mixins.tablet {
      @include typography.text-md;
    }
  }

  .cta {
    @include mixins.main_button;

    @include mixins.tablet {
      margin-top: auto;
      width: 100%;
      text-align: center;
    }
  }
}