@use '../../../../styles/mixins';
@use '../../../../styles/typography';

.root {
  display: flex;
  align-items: center;
  row-gap: 24px;
  column-gap: 16px;

  @include mixins.tablet {
    display: none;
  }

  &.mobile {
    @include mixins.tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .link {
    @include mixins.link;
    position: relative;

    @include mixins.tablet {
      @include typography.text-md;
    }

    &.active {
      color: var(--color-text-secondary);

      &::after {
        position: absolute;
        right: 0;
        bottom: -4px;
        left: 0;
        height: 2px;
        background-color: var(--color-accent-primary);
        content: '';

        @include mixins.tablet {
          bottom: -2px;
        }
      }
    }
  }

  .cta {
    @include mixins.main_button;

    @include mixins.tablet {
      width: 100%;
      text-align: center;
    }
  }
}